# Application Environment & Port Configuration
NODE_ENV=development
PORT=3000

# Database Connection String
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/nidhiflow?schema=public"

# JWT Authentication Secrets
JWT_SECRET="super_secret_jwt_key_minimum_16_chars"
JWT_EXPIRES_IN="1d"
